.main-article {
  background-color: #efb363;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  margin-top: 1em;
  color: #313638;
  border-radius: 1em;
}
.article-container {
  margin: 1em;
}
.time-to-read {
  color: #313638ab;
  font-size: smaller;
}

.delete-button {
  float: right;
  margin: 0.5em;
  align-self: flex-end;
}
