.articles-list {
  list-style-type: none;
  padding: 0;
}
.article-card {
  background-color: #db5461;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #e3f2fd;
}
.article-card-text {
  display: block;
  margin: 0.5em;
}
.article-button {
  text-decoration: none;
  background-color: #8aa29e;
  border-radius: 1em;
  padding: 0.5em;
  border: 1px solid #e3f2fd;
  color: white;
}
.article-button:hover {
  background-color: #e3f2fd;
  color: #db5461;
}

.topics-bar {
  max-width: 100vw;
  white-space: nowrap;
  overflow-x: scroll;
}
.topic-button {
  margin: 1em;
  padding: 0.75em 1em 0.75em 1em;
  border-radius: 1em;
  cursor: pointer;
}
.topic-button:hover {
  color: #db5461;
}

.active {
  background-color: rgb(168, 168, 168);
}
