.author-bio {
  margin: 1em;
  padding: 1em;
  background-color: #fafafa;
  color: rgb(190, 50, 20);
  border-radius: 1em;
  border: 1px solid black;
}
.author-img {
  height: 5em;
  border-radius: 100%;
  border: 1px solid black;
}
.subheading {
  margin: 1em 0 0 0;
  font-size: small;
}
