.articles-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .articles-list {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
  }
}
.article-card {
  background-color: #efb363;
  margin: 1em;
  padding: 0.5em;
  border-radius: 1em;
  border: 1px solid #e3f2fd;
}
.article-card-img {
  height: 10em;
  border-radius: 100%;
}
.article-card-text {
  display: block;
  margin: 0.5em;
}
.article-button {
  text-decoration: none;
  background-color: #e0dfd5;
  border-radius: 1em;
  padding: 0.5em;
  border: 1px solid #e3f2fd;
  color: #313638;
  transition: 0.5s;
}
.article-button:hover {
  background-color: #e3f2fd;
  color: #efb363;
}
.topic-query-container {
  display: flex;
  flex-direction: column;
  background-color: #e3f2fd;
  margin: 1em 0;
  border-radius: 1em;
  border: 1px solid #e8e9eb;
}

.options-subheading {
  margin: 0;
  padding: 0;
}
.topics-bar {
  max-width: 100vw;
  white-space: nowrap;
  overflow-x: scroll;
}
.topic-button {
  margin: 1em;
  padding: 0.75em 1em 0.75em 1em;
  border-radius: 1em;
  cursor: pointer;
  background-color: #e4b363;
  color: #313638;
  transition: 1s;
}
.topic-button:hover {
  color: #efb363;
  background-color: #e8e9eb;
}

.active {
  background-color: rgb(168, 168, 168);
}
