.main-article {
  background-color: #efb363;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  margin: 1em;
  color: #313638;
  border-radius: 1em;
  max-width: 700px;
}
.article-topic-text {
  margin: 0;
  white-space: nowrap;
  margin-right: 90%;
  color: #e3f2fd;
  font-family: 'Mr Dafoe', sans-serif;
  font-size: larger;
}
.article-container {
  margin: 1em;
  padding: 1em;
  background-color: #e0dfd5;
  border-radius: 1em;
  border: 1px solid #5d4e60;
}
.time-to-read {
  color: #313638ab;
  font-size: smaller;
}

.delete-button {
  float: right;
  margin: 0.5em;
  align-self: flex-end;
}

.comment-card {
  background-color: #e0dfd5;
  color: #313638;
  border: 1px solid #5d4e60;
  border-radius: 1em;
  margin: 1em;
  width: 90%;
}

.comment-box {
  height: 3em;
}
