.author-bio {
  margin: 1em;
  padding: 1em;
  background-color: #e0dfd5;
  color: #313638;
  border-radius: 1em;
  border: 1px solid #5d4e60;
}
.author-img {
  height: 5em;
  border-radius: 100%;
  background-color: #e8e9eb;
  border: 1px solid #5d4e60;
}
.subheading {
  margin: 1em 0;
  font-size: small;
}
