.registration-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0dfd5;
  border: 2px solid black;
  border-radius: 2em;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.349);
}
.registration-form {
  padding: 1em 4em 4em 4em;
}
meter {
  margin: 0.5em;
  width: 10em;
}

.close-button {
  position: absolute;
  top: 2%;
  right: 5%;
  padding: 0.25em;
  border: 1px solid #e8e9eb;
  border-radius: 0.5em;
  background-color: #efb363;
  cursor: pointer;
}
.error-text {
  color: #efb363;
}
