.users-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .users-list {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
  }
}

.user-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #e4b363;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #e8e9eb;
}
.username-font {
  font-family: 'Headland One';
}
.name-font {
  font-family: 'Mr Dafoe';
  font-size: larger;
}
.user-avatar {
  height: 5em;
  width: 5em;
  border-radius: 100%;
}
