.users-list {
  list-style-type: none;
  padding: 0;
}

.user-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #e4b363;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #e8e9eb;
}
.user-avatar {
  height: 5em;
  width: 5em;
  border-radius: 100%;
}
