@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto');
body {
  margin: 0;
  padding: 0;
  color: #fafafa;
  background-color: #686963;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  max-width: 100vw;
}

.app-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100vw;
  height: 3em;
  background-color: #db5461;
  display: flex;
  align-items: center;

  border: 1px solid black;
}
.nav-brand {
  font-family: 'Libre Franklin', sans-serif;
  margin-right: 1em;
}
.nav-logo {
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
}
.nav-avatar {
  height: 2em;
  border-radius: 100%;
  border: 2px solid black;
  align-self: center;
  margin-right: auto;
}

nav {
  margin: 0;
  margin-left: auto;
}
nav :first-child {
  border-left: 1px solid black;
}
.nav-link {
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: #fafafa;
  border-right: 1px solid black;
}
.nav-link:hover {
  background-color: #fcb2ba;
  color: #db5461;
}
